.App {
    font-family: sans-serif;
}

body {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

mark {
    color: #2986ff;
    font-weight: bold;
}

svg .react-flow__edge-path{
    stroke-width: var(--edge-stroke-width, 3);
}


.flowNode {
    border: 0;
    padding: 5px;
    border-radius: 8px;
    min-height: 60px;
}

.flowNodeWithBorder {
    outline: 8px solid #ffd6e7;
    padding: 5px;
    border-radius: 8px;
    min-height: 60px;
}


.react-flow__pane {
    cursor: default;
}

.contextMenu {
    border-color: #2986ff;
    border-style: solid;
    border-radius: 8px;
    border-width: 2px;
    position: fixed;

    z-index: 10;
}


.player {
    width: 320px;
}
